@import url(shared.css);
@import url(cart-button.css);
@import url(catalog.css);
@import url(category.css);
@import url(hero.css);
@import url(menu.css);
@import url(modals.css);
@import url(product-main.css);
@import url(sign-modal.css);


/* HEADER styles */

.header {
    padding: 50px 0;
    background-color: #F9F6F1;
}

/* FOOTER styles */

.footer {
    margin-top: 40px;
    padding: 30px 0;
    background-color: #212121;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}