{% extends 'base.html' %}

{% load static %}

{% block title %}
	Home
{% endblock %} 

{% block content %}
<!--<div class="container-fluid">-->
<!--	<div class="row">-->
<!--		<img class="img-fluid" src="{% static 'images/sale1.png' %}">-->
<!--	</div>-->
<!--</div>-->

<!--<div class="py-4">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-10 mx-auto my-2 text-center">-->
<!--				<h1 class="text-capitalize font-weight-bold">-->
<!--					Our Products-->
<!--				</h1>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

<!--</div>-->

<!--<div class="container">-->
<!--	<div class="row">-->
<!--		{% for product in products %}-->
<!--		<div class="col-9 mx-auto col-md-6 col-lg-3">-->
<!--			<div class="card mb-5">-->
<!--				<div class="p-4">-->
<!--					<a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}"-->
<!--													   alt="{{product.name}}"></a>-->

<!--				</div>-->

<!--				<div class="card-footer d-flex justify-content-between"-->
<!--					 style="background: transparent; border-color: transparent;">-->
<!--					<p class="font-weight-bold mb-0">-->
<!--						{{product.name}}-->
<!--					</p>-->
<!--					<h5 class="text-info font-italic mb-0">-->
<!--						{{product.price}}-->
<!--					</h5>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		{% endfor %}-->
<!--	</div>-->
<!--</div>-->

<!--	-->


<div class="wrapper">
        <div class="hero">
            <div class="container">
                <div class="hero__inner">
                    <div class="hero__left-side">
                        <h2 class="hero__title">
                            Красовак (классный)
                        </h2>
                        <div class="hero__btn-row">
                            <button class="btn hero__btn">
                                Добавить в корзину
                            </button>
                            <button class="btn hero__btn">
                                Подробнее
                            </button>
                        </div>
                    </div>
                    <div class="hero__right-side product-main">
                        <div class="product-main__price">
                            1 900 ₽
                        </div>
                        <div class="product-main__img-container">
                            <img class="product-main__img" src="{% static 'images/products/1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">
            <div class="box"></div>
            <div class="category">
                <div class="container">
                    <div class="category__inner">
                        <div class="category__row">
                            <div class="category__item-container">
                                <div class="category__item">
                                    <div class="category__left-side">
                                        <h4 class="category__title">
                                            МУЖСКАЯ КОЛЛЕКЦИЯ
                                        </h4>
                                        <a class="btn category__link" href="#">
                                            <img class="category__link-img" src="{% static 'images/arrow.svg' %}" alt="">
                                         </a>
                                    </div>
                                    <div class="category__right-side">
                                        <div class="category__img-container">
                                            <img class="category__img" src="{% static 'images/categories/1.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="category__item-container">
                                <div class="category__item">
                                    <div class="category__left-side">
                                        <h4 class="category__title">
                                            ЖЕНСКАЯ КОЛЛЕКЦИЯ
                                        </h4>
                                        <a class="btn category__link" href="#">
                                            <img class="category__link-img" src="{% static 'images/arrow.svg' %}" alt="">
                                         </a>
                                    </div>
                                    <div class="category__right-side">
                                        <div class="category__img-container">
                                            <img class="category__img" src="{% static 'images/categories/2.png' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="catalog">
                <div class="container">
                    <div class="catalog__inner">
                        <h2 class="catalog__title">
                            Новые модели
                        </h2>
                        <div class="catalog__row">
                            {% for product in products %}
                                <div class="catalog__item-container">
                                    <a class="catalog__item" href="{{product.get_url}}">
                                        <div class="catalog__item-inner">
                                            <div class="catalog__img-container">
                                                <img class="catalog__img" src="{{product.image.url}}" alt="">
                                            </div>
                                            <div class="catalog__price">
                                                {{product.price}} ₽
                                            </div>
                                            <div class="catalog__desc">
<!--                                                <span class="catalog__model">-->
<!--                                                    Levi's-->
<!--                                                </span>/-->
                                                <span class="catalog__category">
                                                    {{product.name}}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn catalog__btn">
                            <span class="catalog__btn-text">ВСЕ МОДЕЛИ</span>
                            <img class="catalog__btn-img" src="{% static 'images/arrow.svg' %}" alt="">
                        </button>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}