{% extends 'base.html' %}

{% load static %}

{% block title %}
Product
{% endblock %}

{% block content %}
<div class="product">
	<div class="container py-5">
		<div class="product__header">
			<div class="product__inner">
				<div class="product__left-container">
					<div class="product__image-block">
						<img class="product__image" src="{{product.image.url}}">
					</div>
				</div>
				<div class="product__right-container">
					<h5 class="product__title">{{product.name}}</h5>
					<div class="product__item">
						<span class="product__item-key">Цена</span>
						<span class="product__item-value">{{product.price}} ₽</span>
					</div>
					<div class="product__item">
<!--						<span class="product__item-key">Количество</span>-->
						{% if product.stock <= 0 %}
						{% else %}
						<form class="product__form" action="{% url 'cart_add' product.id %}" method="post">
							{{ cart_product_form }}
<!--							<button class="counter__btn counter__btn&#45;&#45;minus" type="button"></button>-->
<!--							<input class="counter__input" type="text" value="1" readonly>-->
<!--							<button class="counter__btn counter__btn&#45;&#45;plus" type="button"></button>-->
							{% csrf_token %}
							<button class="btn" type="submit">
								В корзину
							</button>
						</form>
						{% endif %}
					</div>
				</div>
				<div class="product__main">
					<div class="product__desc">
						<h4 class="product__desc-title">
							Описание
						</h4>
						<p class="product__desc-text">
							{{ product.description }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}